{% block content %}

{{ user.position }}

<p><a href="{% url 'logout' %}">Log Out</a></p>



Profile Picture:

<img src="{{ user.profile_image.url  }}"  width="100" height="100"alt="img">

<form action="{% url 'add-profilepicture' user.id %} " enctype=multipart/form-data method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="file" name="fileToUpload">
  <input type=submit value=Upload>
</form>



  <h1>Admin Page for Book Store</h1>
  <p>Welcome to the Bookstore</p>

  <p>The Book store has the following books available for you to add, delete and view:</p>
  
  <form action="{% url 'add-book' %} " enctype=multipart/form-data method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    Title: 
    <input type="text" name="title"/>
Image to upload:
    <input type="file" name="fileToUpload">
    Author:
    <input type="text" name="author"/>
    Book age group:
    <select name="age_group" id="age_group" multiple="multiple">
      <option value="e">under-eighteen</option>
      <option value="a">adult</option>
    
    </select>


    <input type=submit value=Upload>


    </form>
   
    {{ ERROR }} 
    
  {% if book_list %}
  <Table>
    <Tr>
        <Td>id</Td>
        <Td>Title</Td>
        <Td>Author</Td>
        <Td>Image</Td>
        <Td>Age Group</Td>
        <Td></Td>
      </Tr>
    {% for book in book_list %}
    

      <Tr>
        <Td>{{ book.id }}</Td>
        <Td>{{ book.title }}</Td>
        <Td>({{book.author}})</Td>
        <Td> <img src="{{ book.book_cover_image.url }}"  width="100" height="100"alt="img"></Td>
            {% if book.age_group == "e"  %}
            <Td> Under-eighteen </Td>
            {% else %}
            <Td> Over-eighteen </Td>
            {% endif %}
            <td><a href="{% url 'delete-book' book.id %}">Delete Book</a></td>

      </Tr>

   
    {% endfor %}
    </Table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}