{% block content %}

{{ user.position }}
  <h1>Admin Page for Book Store</h1>
  <p>Welcome to the Bookstore</p>

  <p>The Book store has the following books available for you to add, delete and view:</p>

  {% if book_list %}
  <Table>
    <Tr>
        <Td>id</Td>
        <Td>Title</Td>
        <Td>Author</Td>
        <Td>Image</Td>
        <Td>Age Group</Td>
        <Td></Td>
      </Tr>
    {% for book in book_list %}
    

      <Tr>
        <Td>{{ book.id }}</Td>
        <Td>{{ book.title }}</Td>
        <Td>({{book.author}})</Td>
        <Td>{{ book.book_cover_image }}</Td>
            {% if book.age_group == "e"  %}
            <Td> Under-eighteen </Td>
            {% else %}
            <Td> Over-eighteen </Td>
            {% endif %}
            <td><a href="{% url 'delete-book' book.id %}">Delete Book</a></td>

      </Tr>

   
    {% endfor %}
    </Table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}