{% block content %}



<p><a href="{% url 'logout' %}">Log Out</a></p>

Profile Picture:
<br>
<img src="{{ user.profile_image.url  }}"  width="100" height="100"alt="img">

<form action="{% url 'add-profilepicture' user.id %} " enctype=multipart/form-data method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="file" name="fileToUpload">
  <input type=submit value=Upload>
</form>


  <h1>Customer page Book Store</h1>
  <p>Welcome to the Bookstore</p>

  <p>The Book store has the following books available for you:</p>

  {% if book_list %}
  <Table>
    <Tr>
        <Td>Title</Td>
        <Td>Author</Td>
        <Td>Image</Td>
        <Td>Age Group</Td>
      </Tr>
    {% for book in book_list %}
    

      <Tr>
        
        <Td>{{ book.title }}</Td>
        <Td>{{book.author}}</Td>
        <Td> <img src="{{ book.book_cover_image.url }}"  width="100" height="100"alt="img"></Td>
            {% if book.age_group == "e"  %}
            <Td> Under-eighteen </Td>
            {% else %}
            <Td> Over-eighteen </Td>
            {% endif %}
      </Tr>

   
    {% endfor %}
    </Table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}